.inactive-tab {
    background-color: lightgray;
}

.active-tab {
    background-color: dodgerblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19)
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn {
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: blue; /* Green */
  color: white;
}

.code-text-area {
    background-color: #cccccc;
    overflow:scroll;
    height: 500px;
}

.left-workspace {
  width: 65%;
}

.right-workspace {
  width: 35%;
}